body {
  background: gray;
}

* {
  border: solid 1px black;
}

.container {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
  padding: 1em;
  text-align: center;
}

.a {
  min-height: 12vh;
  padding: 1em;
  margin: .5em;
}

.b {
  min-height: 70vh;
  flex-grow: 5;
  padding: 1em;
  margin: .5em;
}

.c {
  min-height: 12vh;
  flex-grow: 2;
  padding: 1em;
  margin: .5em;
}

@media (min-width: 600px) {
  .container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .a {
    width: 100%;
  }
  .b {
    max-width: 70%;
  }
  .c {
    max-width: 28%;
  }
}